.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}


.header-menu {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.header-menu h3 {
    color: purple;
}

.logo {
    float: left;
    font-family: 'Poppins', sans-serif;
    color: purple;
    letter-spacing: 1px;
    font-size: 2em;
}

.logo-image {
    width: 30px;
    margin: 5px;
    margin-left: 12px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown h3 {
    color: purple;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    padding: 20px;
    margin-left: -150px;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */